.control {
    color: white;
    background-color: rgba(225, 225, 225, 0.1);

    height: 40px;
    width: 40px;

    margin-right: 10px;

    border: 1px solid white;
    border-radius: 5px;

    cursor: pointer;
}

.control img {
    height: 34px;
    width: 34px;

    color: white;
}

.control h1 {
    font-family: "Arial";
    font-size: 24px;
}

.special {
    width: 100px;
}

.control:hover {
    background-color: #282c34; 

    transition: all .2s ease-in-out;
}